@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$white: #fff;
$gray: #F9F9F9;
$gray2: #A4A0A0;
$accent: #FC7361;
$black: #212121;
$accent2: #484134;

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    background-color: $gray;
}

.container {
    max-width: calc(1264px + 30px);
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 15px;
}

.main-btn {
    text-align: center;
    color: #fff;
    background-color: $accent;
    border-radius: 8px;
    padding: 11.5px 15px;
    display: block;
    width: 100%;
    max-width: 550px;
    text-decoration: none;
    border: none;
    transition: .35s ease;
    cursor: pointer;

    &:hover {
        background-color: $accent2;
    }
}

.breadcrumbs {
    display: flex;
    align-items: stretch;

    a {
        position: relative;
        display: block;
        box-sizing: border-box;
        color: $gray2;
        text-decoration: none;
        margin-right: 8px;
        padding-right: 11px;

        &::before {
            content: '';
            position: absolute;
            right: 0;
            top: calc(50% - 2.5px);
            width: 5px;
            border-radius: 50%;
            height: 5px;
            background-color: $black;
        }

        &:last-child {
            color: $black;
            pointer-events: none;

            &::before {
                display: none;
                margin-right: 0;
                padding-right: 0;
            }
        }
    }
}

.menu-btn {
    width: 50px;
    height: 50px;
    display: block;
    position: relative;
    background-color: $gray;
    border-radius: 8px;
    span {
        width: 24px;
        height: 2px;
        background-color: $gray2;
        top: calc(50% - 1PX);
        position: absolute;
        left: 15px;
    }

    &::before {
        content: '';
        width: 24px;
        height: 2px;
        background-color: $gray2;
        top: 18px;
        position: absolute;
        left: 15px;
    }
    &::after {
        content: '';
        width: 24px;
        height: 2px;
        background-color: $gray2;
        bottom: 18px;
        position: absolute;
        left: 15px;
    }

}