.verification-form {

    // .verification-form__wrap

    &__wrap {
        margin-top: 50px;
        margin-bottom: 50px;

        .container {
            display: flex;
            box-sizing: border-box;
            padding: 40px 40px;
            background-color: #fff;
            border-radius: 10px;
        }

        .col {
            width: 50%;
            box-sizing: border-box;
        }
    }

    // .verification-form__title

    &__title {
        margin-top: 20px;
        margin-bottom: 20px;

        h1 {
            margin: 0;
            box-sizing: border-box;
            display: block;
            font-size: 36px;
            line-height: 1.4;
        }

        p {
            margin: 0;
            font-size: 14px;
            line-height: 1.4;
            color: $black;
        }
    }

    // .verification-form__form

    &__form {
        box-sizing: border-box;

        .info {
            margin-top: -20px;

            span {
                font-size: 12px;
                color: $black;
                line-height: 1;
                font-weight: 400;

                a {
                    color: $accent;
                    text-decoration: none;
                }
            }
        }

        form {
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;

            h2 {
                display: block;
                width: 100%;
            }

            span.label-name {
                display: block;
                width: 100%;
                box-sizing: border-box;
                color: $gray2;
                font-size: 14px;
                margin-bottom: 4px;
                line-height: 1.4;

                &.custom-label {
                    margin-bottom: -20px;
                }
            }

            label {
                width: 100%;
                position: relative;

                i {
                    position: absolute;
                    right: 15px;
                    top: calc(50% + 2px);

                    svg {
                        width: 13px;
                        height: 16px;
                    }
                }

                &.req {
                    &::after {
                        content: '*';
                        font-size: 16px;
                        color: $accent;
                        right: -15px;
                        position: absolute;
                        bottom: 30px;
                    }
                }

                span {
                    display: block;
                }

                &.half {
                    width: calc(50% - 15px);
                }

                input {
                    width: 100%;
                    box-sizing: border-box;
                    padding: 15px;
                    box-sizing: border-box;
                    border: none;
                    border-radius: 8px;
                    background-color: $gray;
                    &.error {
                        border: 1px solid $accent;
                    }
                }
                .iti {
                    width: 100%;
                    box-sizing: border-box;
                }

            }
        }

        .action {
            width: 100%;
            box-sizing: border-box;
            display: flex;
            gap: 10px;

            button {
                width: 100%;
                padding: 11px 20px;
                box-sizing: border-box;
                border: 1px solid $accent;
                border-radius: 4px;

                &.back {
                    max-width: 132px;
                    color: $black;
                    background-color: #fff;
                }


            }

            button[type=submit] {
                color: #fff;
                background-color: $accent;

            }
        }
    }
}

.check-label {
    box-sizing: border-box;
    padding: 13px 25px;
    background-color: $gray;
    border-radius: 6px;
    cursor: pointer;

    .checkbox {
        .checkbox-item {
            width: 42px;
            height: 20px;
            border-radius: 20px;
            background-color: #484134;
            position: relative;
            transition: .5s ease;

            input {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
            }

            &::before {
                content: '';
                position: absolute;
                left: 3px;
                top: 2.5px;
                width: 15px;
                height: 15px;
                background-color: #fff;
                border-radius: 50%;
                transition: .35s ease;
            }

            &.active {
                background-color: $accent;

                &::before {
                    top: 2.5px;
                    left: calc(100% - 3px - 15px);
                }
            }
        }

        pointer-events: all;
        display: flex;
        align-items: center;
        justify-content: space-between;


        .item {
            display: flex;
            align-items: center;

            img {
                display: block;
                width: 26px;
                height: 26px;
                box-sizing: border-box;
                margin-right: 10px;
            }

            span {
                font-weight: 400;
                font-size: 16px;
                color: $black;
            }
        }
    }



}

.profile-social-wrap {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: -20px;

    +p {
        font-size: 14px;
        font-weight: 400;
        display: block;
        margin: 0;

        a {
            color: $accent;
            text-decoration: none;
        }
    }
}